.signin-form-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Make sure the video stays behind the form */
  }
  
  .signin-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 400px;
    /* background-color: rgba(255, 255, 255, 0.712); Slight opacity to make the form stand out */
    background: linear-gradient(to bottom, hsla(210, 26%, 49%, 0.71), #3498db90);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .signin-heading {
    color: #fff;
    margin: 0 0 40px;
    padding: 0;
  }
  
  .signin-input-box {
    position: relative;
    margin: 20px 0;
  }
  
  .signin-input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding: 10px;
    padding-left: 30px;
    box-sizing: border-box;
    font-weight: bold;
    /* color: #fff; */
    border-radius: 10px;
  }
  
  .signin-input:focus,
  .signin-input:valid {
    border-bottom-color: #03a9f4;
  }
  
  .signin-icon {
    position: absolute;
    top: 8px;
    left: -23px;
    font-size: 18px;
    color: #fff;
  }
  
  .signin-submit-btn {
    border: none;
    cursor: pointer;
    background-color: #03a9f4;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
    height: 30px;
    width: 100%;
    font-size: 12px;
    border-radius: 10px;
  }
  
  .signin-submit-btn:hover {
    background-color: #4980ffb7;
  }
  
  .signin-forgot-link {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
    display: inline-block;
    transition: 0.5s;
  }
  
  .signin-forgot-link:hover {
    color: #ff4987;
  }
  

  .signin-input-box {
    position: relative;
  }
  
  .signin-input {
    width: 100%;
    padding: 10px 15px;
    padding-right: 40px; /* Add space for the eye icon */
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .signin-input + i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
  }
  
  .signin-input + i:hover {
    color: #333; /* Optional: change color on hover */
  }
  